@import url("reset.css");

html { 
  background-color: #9DA4BE;}

body {
  font-family: "museo",serif;
  font-size: 1em;
  margin: 2%; }

.global {
  background-color: #9DA4BE;
  width: 100%;
  max-width: 320px;
  margin: 1%;
  padding: 2%; }

.banner {
  border: 2pt solid white;
  background-color: white;
  padding: 1%; }

img {
  float: left;
  margin: 5% 20%;
  border: 10pt solid white;
  border-radius: 10%; }

button {
  padding: 1%;
  background-color: #2144E7;
  border: 2pt solid #0A9A94;
  border-radius: 10%;
  outline: none;
  color: #FFF;
  font-size: 0.5em; }

button:hover {
  cursor: pointer;
  background-color: #0A9A94; }

li {
  padding: 2%;
  float: left;
  list-style: none;
  text-align: center;
  font-size: .94em;
  margin: 12% 3%;
  border: 2pt solid white; }

a {
  text-decoration: none;
  color: #0A9A94; }

.aboutme img {
  max-width: 200px; }

.projectlinks {
  background-color: #2144E7;
  padding: 5%;
  list-style: none;
  text-align: center;
  font-size: 2.5em;
  margin: 0, auto; }

.latestproject {
  padding: 20%;
  margin-top: 20%; }

.pastproject {
  padding: 10%;
  margin-top: 20%; }

.socialmedia {
  position: relative;
  max-width: 100px;
  max-height: 100px;
  margin: 2%;
  float: right; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

div, header, nav, section, article, aside, footer, figure, hr, button {
  position: relative; }

.global {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%; }

h1 {
  font-family: Georgia, helvetica, sans-serif;
  font-size: 4em;
  font-style: normal;
  color: #F6DA5C;
  padding: 5%;
  float: left; }

h2 {
  font-family: Georgia, helvetica, sans-serif;
  font-size: 2.5em;
  font-style: normal;
  color: #0290A1;
  margin: 5px; }

p {
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
  color: #2144E7;
  margin-bottom: 30px;
  margin-top: 40px; }

h1 {
  margin-top: 250px; }

.banner {
  font-family: Georgia, helvetica, sans-serif;
  font-size: 4em;
  color: #9DA4BE;
  line-height: 1;
  border-radius: 3px;
  border: 2px solid #9DA4BE;
  padding: 20px;
  border-radius: 10%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  float: right; }
  .banner span {
    font-size: 30px; }

.logo {
  clear: right;
  display: block;
  margin: 5% auto; }

li {
  list-style-type: none;
  width: 50%;
  float: left; }

img {
  margin-right: 20px; }

p {
  color: #2144E7;
  padding: 40px; }

@media screen and (min-width: 36em) {
  .aboutme p {
    width: 50%;
    margin: 35% auto;
    line-height: 1.5; }

  .logo {
    display: block;
    position: absolute; }

  h1 {
    clear: both; } }
@media screen and (min-width: 64em) {
  nav li {
    display: inline-block;
    margin-left: 10px; } }
.logo {
  width: 100px;
  height: 100px; }

body {
  font-family: helvetica; }

nav {
  padding: 10px;
  background-color: white; }
  nav button {
    padding: 5px 10px;
    background-color: #0290A1;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    color: #FFF;
    font-size: 1em; }
    nav button:hover {
      cursor: pointer;
      background-color: #darkblue; }
  nav ul {
    margin-top: 20px; }
  nav a {
    color: #F6DA5C;
    text-decoration: none;
    padding: 1%; }
  nav li {
    padding: 2%;
    display: none;
    float: left; }
    nav li:hover {
      border-left: 3px solid #fff; }

@media screen and (min-width: 64em) {
  nav ul {
    margin-top: 0; }
  nav a {
    margin-right: 5px;
    padding: 5% 0;
    float: left; }
  nav li {
    display: inline-block; }
    nav li:hover {
      border-left: 0; } }
.break {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-height: 150px;
  border: 0 solid #9DA4BE;
  border-radius: none; }

/*# sourceMappingURL=style.css.map */
