@import url("reset.css");

$grey: #9DA4BE;
$darkblue: #2144E7;
$lightblue: #0A9A94;
$yellow: #F6DA5C;

section {
  margin-top:2%;
  margin-bottom:2%;
}

body {
  font-family: "museo",serif;
  font-size:1em;
  margin:2%;
}

.global{
  background-color:$grey;
  width:100%;
  max-width:320px;
  margin:1%;
  padding:2%;
}

.banner {
  border:2pt solid white;
  background-color:white;
  padding:1%;
}

img {
  float:left;
  margin:5% 20%;
  border:10pt solid white;
  border-radius:10%;
}

button {
  padding: 1%;
  background-color: $darkblue;
  border: 2pt solid $lightblue;
  border-radius: 10%;
  outline: none;
  color: #FFF;
  font-size:0.5em;
}

button:hover {
  cursor: pointer;
  background-color: $lightblue;
}

li {
  padding:2%;
  float:left;
  list-style:none;
  text-align:center;
  font-size:.94em;
  margin:12% 3%;
  border:2pt solid white;
}

a {
  text-decoration:none;
  color:$lightblue;
}

.aboutme img{
  max-width: 200px;
}

.projectlinks {
  background-color:$darkblue;
  padding:5%;
  list-style:none;
  text-align:center;
  font-size:2.5em;
  margin: 0, auto;
}

.latestproject {
	padding:20%;
  margin-top:20%;

}

.pastproject {
	padding:10%;
  margin-top:20%;

}

.socialmedia {
  position:relative;
  max-width:100px;
  max-height: 100px;
  margin:2%;
  float:right;
}


$width: 320px;
$grey: #9DA4BE;
$darkblue: #2144E7;
$lightblue: #0290A1;
$yellow: #F6DA5C;


@mixin div($grey){
  background-color: $grey;
  padding-top:40px;
  padding-bottom:40px;
  padding-left:40px;
  padding-right:40px;
  border: 1px solid #000;
  }

@mixin h1 ($darkblue){
  font-family: Georgia, helvetica, sans-serif;
  font-size: 4em;
  font-style: normal;
  color: $yellow; 
  padding:5%;
  float:left;
}

@mixin h2($lightblue){
  font-family: Georgia, helvetica, sans-serif;
  font-size: 2.5em;
  font-style: normal;
  color: $lightblue; 
  margin: 5px;
}

@mixin p($darkblue){
  font-family: Georgia, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  font-style: normal;
  color: $darkblue;
  margin-bottom: 30px;
  margin-top: 40px;
}

@mixin button-style($grey) {
  font-family: Georgia, helvetica, sans-serif;
  font-size: 4em;
  color: $grey;
  line-height: 1;
  border-radius: 3px;
  border: 2px solid $grey;
  padding: 20px; 
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}


div, header, nav, section, article, aside, footer, figure, hr, button {
  position: relative;
}

.global{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

h1 {
  @include h1($darkblue);
}
h2 {
  @include h2($lightblue);
}
p {
  @include p($darkblue);
}


h1 {
  margin-top:250px;
}

.banner{
  @include button-style ($grey);
  border-radius:10%;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  float: right;
  
  span {
  font-size: 30px;
  }
}

.logo {
  clear: right;
  display: block;
  margin: 5% auto;
}


  
  li {  
    list-style-type: none;
    width: 50%;
    float: left;
  }
  
  img {
    margin-right: 20px;
  }


  p{ 
    color: $darkblue;
    padding: 40px;
  }


@media screen and (min-width: 36em) {
  .aboutme p{
    width: 50%;
    margin:35% auto;
    line-height: 1.5;
  }
  
  .logo {;
  display: block;
  position: absolute;
  }
  
  
  h1 {
    clear: both;
  }

}


@media screen and (min-width: 64em) {

  nav {
    li {
    display: inline-block;
    margin-left: 10px; 
    }
  }

}

.logo{
  width:100px;
  height:100px;
}

body {
  font-family: helvetica;
}

nav {
  padding: 10px;
  background-color: white;
  
  button {
    padding: 5px 10px;
    background-color: $lightblue;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    color: #FFF;
    font-size: 1em;
    
    &:hover {
      cursor: pointer;
      background-color: #darkblue;
    }
  }

  ul {
    margin-top: 20px;
  }
  
  a {
    color: $yellow;
    text-decoration: none;
    padding:1%;
  }

  li {
    padding: 2%;
    display: none;
    float:left;
    
    &:hover {
      border-left: 3px solid #fff;
    }
  }

}


@media screen and (min-width: 64em) {
  
  nav {
  
    ul {
      margin-top: 0;
    }

    a {
      margin-right: 5px;
      padding: 5% 0;
      float:left;
    
    }

    li {
      display: inline-block;
      
      &:hover {
        border-left: 0;
      }
    }
  }
}

.break{
  margin:0 auto;
  padding:0;
  width:100%;
  max-height:150px;
  border:0 solid $grey;
  border-radius:none;
}