
div{
    max-width:1440px;
}

h1 {
    margin-left: 10%;
    margin-right: 5%;
    padding-bottom: 15px;
    color: black;
    font-size: 1.5em;
    font-family: helvetica;
}

h2 {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15px;
    color: black;
    font-size: 1.25em;
    font-family: helvetica;
    a {
        color: black;
    }
}

h3 {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    color: black;
    font-size: 0.9em;
    font-family: helvetica;
    a {
        color: green;
    }
}

p {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: helvetica;
    line-height: 22px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.background {
    position: fixed;
    z-index: -20;
}

.logo {
    width: 30%;
    margin-top: 15px;
    margin-left: 33%;
    margin-right: 30%;
    margin-bottom: 15px;
    border: solid white 8px;
    border-radius: 60%;
}

.banner a button {
    color: white;
}

button {
    float: left;
    margin-left: 2.5%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: green;
    border: none;
    font-size: 0.75em;
    font-family: helvetica;
}

.homebut {
    margin-left: 7.5%;
}

.banner a button:hover {
    color: black;
}

button:hover {
    background-color: #EEE4C0;
}

.aboutme {
    background-color: #EEE4C0;
    p {
        padding-left: 5%;
    }
}

.me {
    width: 60%;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 50%;
}

.projectbuttons li {
    list-style: none;
}

.projectbuttons {
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projectbuttons a button {
    color: white;
}

.projectbuttons a button:hover {
    color: black;
}

.latestproject {
    background-color: #EEE4C0;
}

.pastproject {
    background-color: #EEE4C0;
}

.dentist1, .style1 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    border: solid black 4px;
}

.socialmedia img {
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.facebook {
    margin-left: 26%;
}

.connect {
    background-color: #EEE4C0;
    padding-top: 20px;
}

@media screen and (min-width: 60em) {
    div{
    max-width:1440px;
}

	h2{
		max-width:800px;
	}

    .logo {
        width: 10%;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
        border: solid white 8px;
        border-radius: 60%;
    }
    button {
        float: left;
        margin-left: 2.5%;
        margin-bottom: 40px;
        padding-top: 15px;
        padding-bottom: 10px;
        padding-left: 3%;
        padding-right: 3%;
        background-color: green;
        border: none;
        font-size: 1em;
        font-family: helvetica;
    }
    .homebut {
        margin-left: 4%;
    }
    .me {
        float: right;
        margin-top: 50px;
        margin-right: 16%;
        padding: 0px;
        max-width: 20%;
        border-radius: 50%;
    }
    .aboutme {
        padding-bottom: 40px;
        h1 {
            margin-top: 100px;
            margin-left: 0px;
            margin-bottom: 0px;
            padding: 0px;
        }
        p {
            margin: 0px;
            padding-top: 0px;
            padding-left: 16%;
            padding-right: 50%;
            padding-bottom: 20px;
            line-height: 24px;
        }
    }
    .projectbuttons {
        margin-left: 35%;
        margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .latestproject {
        min-height: 500px;
        border-top: solid green 4px;
        border-bottom: solid green 4px;

        h2{
        	position:relative;
        	padding:0;
        	left: 40px;
        	top: 40px;
        }

        p{
        	margin-top:60px;
        	margin-left: 105px;
        }
    }
    .pastproject {
       min-height: 600px;
        border-top: solid green 4px;
        border-bottom: solid green 4px;

          h2{
        	position:relative;
        	padding:0;
        	left: 40px;
        	top: 60px;
        }

        p{
        	margin-top:80px;
        	margin-left: 105px;
        }
    }
    .dentist1, .style1 {
        float: right;
        max-width: 50%;
        margin-top: 50px;
        margin-right: 50px;
        border: solid black 4px;
    }
    .socialmedia img {
        width: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .facebook {
    margin-left: 42%;
}

.connect {
    background-color: #EEE4C0;
    padding-top: 20px;
}
}