h1{
	margin-left:10%;
	margin-right:5%;
	padding-bottom:5%;
	color:black;
	font-size:1.5em;
	font-family:helvetica;
}

h2{
	margin-left:5%;
	margin-right:5%;
	padding-bottom:5%;
	color:black;
	font-size:1.25em;
	font-family:helvetica;

	a{
		color:black;
	}

}

h3{
	margin-left:5%;
	margin-right:5%;
	padding-bottom:5%;
	color:black;
	font-size:0.9em;
	font-family:helvetica;

	a{
		color:green;
	}

}

p{
	margin-left:5%;
	margin-right:5%;
	padding-bottom:5%;
	font-size:1em;
	font-family:helvetica;
}

a{
	color:green;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.background{
	position:fixed;
	z-index:-20;
}

.logo{
	width:30%;
	margin-top:10%;
	margin-left:33%;
	margin-right:30%;
	margin-bottom:5%;
	border: solid white 8px;
	border-radius:60%;

}


.banner a button{
	color:white;
}

button{
	float:left;
	margin-left:1.25%;
	margin-bottom:5%;
	padding-top:3%;
	padding-bottom:3%;
	padding-left:4%;
	padding-right:4%;
	background-color:green;
	border: none;
	font-size:1em;
	font-family:helvetica;
}

.banner a button:hover{
	color:black;
}
button:hover{
	background-color:#EEE4C0;
}

.aboutme{
	background-color:#EEE4C0;
	
	p{
		padding-left:5%;
	}
}

.me{
	width:60%;
	padding-bottom:3%;
	padding-left:20%;
	padding-right:20%;
	border-radius:50%;
}

.projectbuttons li{
	list-style: none;
}

.projectbuttons{
	margin-left:12%;
	margin-right:5%;
	margin-bottom:10%;
	padding-top:10%;
	padding-bottom:10%;
}

.projectbuttons a button{
	color:white;
}

.projectbuttons a button:hover{
	color:black;
}


.latestproject{
	background-color:#EEE4C0;
	
}

.pastproject{
	background-color:#EEE4C0;

}

.dentist1, .style1{
	width:90%;
	margin:5%;
}

.socialmedia img{
	width:15%;
	margin-top:5%;
	margin-bottom:5%;
}

.facebook{
	margin-left:26%;
}

.connect{
	background-color:#EEE4C0;
	padding-top:5%;
}
